Repository AbstractSDK/contracts, pull requests merged in 2023-06, with the labels that each got.

#357 Fix abstract-interface test-env version conflict
  Cargo.toml
  contracts/account/proxy/src/contract.rs
  contracts/ibc-hosts/osmosis/src/contract.rs
  contracts/native/account-factory/src/contract.rs
  contracts/native/ans-host/src/contract.rs
  contracts/native/ibc-client/src/contract.rs
  contracts/native/module-factory/src/contract.rs
  contracts/native/version-control/src/contract.rs
  packages/abstract-interface/Cargo.toml
  packages/abstract-interface/src/account/manager.rs
  packages/abstract-interface/src/account/mod.rs
  packages/abstract-interface/src/deployers.rs
  packages/abstract-interface/src/deployment.rs
  packages/abstract-interface/src/native/module_factory.rs
  packages/abstract-interface/src/native/version_control.rs
  scripts/Cargo.toml
Labels: native, account, interface

#356 Process docs feedback
  docs/book.toml
  docs/src/SUMMARY.md
  docs/src/contributing.md
  docs/src/flows/manager/exec_on_module.md
  docs/src/flows/manager/update_settings.md
  docs/src/framework/abstract_sdk.md
  docs/src/framework/account_abstraction.md
  docs/src/framework/architecture.md
  docs/src/framework/module_types.md
  docs/src/framework/upgradability.md
  docs/src/get_started/index.md
  docs/src/get_started/installation.md
  docs/src/get_started/module_builder.md
  docs/src/get_started/sdk.md
  docs/src/ibc/overview.md
  docs/src/intro.md
  docs/src/platform/ans.md
  packages/abstract-adapter/Cargo.toml
  packages/abstract-app/Cargo.toml
  packages/abstract-app/examples/counter.rs
  packages/abstract-core/src/base.rs
  packages/abstract-core/src/native/ans_host.rs
  packages/abstract-sdk/src/apis/splitter.rs
  packages/abstract-sdk/src/base/contract_base.rs
Labels: documentation, sdk, app_base, adapter_base

#360 Deposit is not an account action
  Cargo.toml
  packages/abstract-interface-test/.gitignore
  packages/abstract-interface-test/Cargo.toml
  packages/abstract-interface-test/artifacts
  packages/abstract-interface-test/build.rs
  packages/abstract-interface-test/daemon_state.json
  packages/abstract-interface-test/examples/download_wasms.rs
  packages/abstract-interface-test/src/account/manager.rs
  packages/abstract-interface-test/src/account/mod.rs
  packages/abstract-interface-test/src/account/proxy.rs
  packages/abstract-interface-test/src/deployers.rs
  packages/abstract-interface-test/src/deployment.rs
  packages/abstract-interface-test/src/error.rs
  packages/abstract-interface-test/src/ibc_hosts/mod.rs
  packages/abstract-interface-test/src/ibc_hosts/osmosis_host.rs
  packages/abstract-interface-test/src/interfaces.rs
  packages/abstract-interface-test/src/lib.rs
  packages/abstract-interface-test/src/native/account_factory.rs
  packages/abstract-interface-test/src/native/ans_host.rs
  packages/abstract-interface-test/src/native/ibc_client.rs
  packages/abstract-interface-test/src/native/mod.rs
  packages/abstract-interface-test/src/native/module_factory.rs
  packages/abstract-interface-test/src/native/version_control.rs
  packages/abstract-interface-test/tests/daemon.rs
  packages/abstract-sdk/src/apis/bank.rs
Labels: sdk

#367 Added into account action from anything
  contracts/native/ibc-client/src/commands.rs
  packages/abstract-adapter/src/endpoints/execute.rs
  packages/abstract-ibc-host/src/endpoints/execute.rs
  packages/abstract-sdk/src/account_action.rs
  packages/abstract-sdk/src/apis/bank.rs
  packages/abstract-sdk/src/apis/execution.rs
Labels: native, sdk, adapter_base

#368 Update docs introduction
  docs/book.toml
  docs/src/1_intro.md
  docs/src/2_introduction/1_design_space.md
  docs/src/3_get_started/1_index.md
  docs/src/3_get_started/2_installation.md
  docs/src/3_get_started/3_module_builder.md
  docs/src/3_get_started/4_sdk.md
  docs/src/3_get_started/5_account_creation.md
  docs/src/3_get_started/6_module_deployment.md
  docs/src/4_framework/1_abstract_sdk.md
  docs/src/4_framework/2_actor_model.md
  docs/src/4_framework/3_account_abstraction.md
  docs/src/4_framework/4_architecture.md
  docs/src/4_framework/5_ownership.md
  docs/src/4_framework/6_modularity.md
  docs/src/4_framework/7_module_types.md
  docs/src/4_framework/8_upgradability.md
  docs/src/4_framework/ibc.md
  docs/src/5_platform/account_factory.md
  docs/src/5_platform/ans.md
  docs/src/5_platform/index.md
  docs/src/5_platform/version_control.md
  docs/src/6_flows/account/create_account.md
  docs/src/6_flows/manager/exec_on_module.md
  docs/src/6_flows/manager/install_module.md
  docs/src/6_flows/manager/uninstall_module.md
  docs/src/6_flows/manager/update_settings.md
  docs/src/6_flows/manager/upgrade_modules.md
  docs/src/6_flows/vc/propose_modules.md
  docs/src/7_use_cases/equilibrium.md
  docs/src/7_use_cases/index.md
  docs/src/8_vision.md
  docs/src/SUMMARY.md
  docs/src/framework/abstract_sdk.md
Labels: documentation

#370 Feature/add cw20 send api
  packages/abstract-sdk/README.md
  packages/abstract-sdk/src/apis/bank.rs
Labels: sdk

#371 Implementation of app helper macros
  packages/abstract-app/examples/counter.rs
  packages/abstract-app/src/interface.rs
  packages/abstract-app/src/lib.rs
  packages/abstract-app/src/msgs.rs
  packages/abstract-core/src/objects/namespace.rs
Labels: app_base

#372 Rename adapter and app api objects to `Apps` and `Adapters`
  packages/abstract-sdk/src/apis/adapter.rs
  packages/abstract-sdk/src/apis/app.rs
Labels: sdk

#375 Update/add config modules list query
  contracts/native/version-control/src/queries.rs
  packages/abstract-core/src/native/version_control.rs
  packages/abstract-interface/tests/daemon.rs
Labels: native, interface

#374 Update design space docs and add handler example.
  docs/book.toml
  docs/mdbook-admonish.css
  docs/src/1_intro.md
  docs/src/2_introduction/1_design_space.md
  docs/src/3_get_started/3_module_builder.md
  docs/src/4_framework/4_architecture.md
  docs/src/4_framework/6_modularity.md
  docs/src/4_framework/7_module_types.md
  justfile
  packages/abstract-app/examples/counter.rs
Labels: documentation, app_base

#378 Add pool_list smart query to ANS client
  docs/src/2_introduction/1_design_space.md
  packages/abstract-sdk/src/base/features/abstract_name_service.rs
Labels: documentation, sdk

#383 Allow Loading accoutns from chain directly
  contracts/native/account-factory/tests/create_account.rs
  packages/abstract-interface/src/account/mod.rs
  packages/abstract-interface/src/deployment.rs
  packages/abstract-interface/src/interfaces.rs
Labels: native, interface

#388 Update docs with internal feedback
  docs/src/1_intro.md
  docs/src/4_get_started/3_module_builder.md
  docs/src/4_get_started/4_sdk.md
  packages/abstract-sdk/src/apis/bank.rs
Labels: documentation, sdk
