Repository AbstractSDK/contracts, pull requests merged in 2023-05, with the labels that each got.

#317 Update internal actions in manager to take in binary
  contracts/account/manager/src/commands.rs
  contracts/account/manager/src/contract.rs
  contracts/account/manager/src/error.rs
  contracts/native/account-factory/src/commands.rs
  justfile
  packages/abstract-core/src/core/manager.rs
Labels: native, account

#322 Refactor api to adapter
  .github/labeler.yml
  CHANGELOG.md
  Cargo.toml
  contracts/account/manager/Cargo.toml
  contracts/account/manager/VERSIONING.md
  contracts/account/manager/src/commands.rs
  contracts/account/manager/src/versioning.rs
  contracts/account/manager/tests/adapters.rs
  contracts/account/manager/tests/common/mock_modules.rs
  contracts/account/manager/tests/common/mod.rs
  contracts/account/manager/tests/upgrades.rs
  contracts/ibc-hosts/osmosis/examples/schema.rs
  contracts/native/module-factory/src/commands.rs
  contracts/native/version-control/examples/schema.rs
  contracts/testing/Cargo.toml
  contracts/testing/src/tests/manager.rs
  development/VERSIONING.md
  docs/IBC.md
  docs/Publishing.md
  packages/abstract-adapter/Cargo.toml
  packages/abstract-adapter/README.md
  packages/abstract-adapter/src/endpoints.rs
  packages/abstract-adapter/src/endpoints/execute.rs
  packages/abstract-adapter/src/endpoints/ibc_callback.rs
  packages/abstract-adapter/src/endpoints/instantiate.rs
  packages/abstract-adapter/src/endpoints/query.rs
  packages/abstract-adapter/src/endpoints/receive.rs
  packages/abstract-adapter/src/endpoints/reply.rs
  packages/abstract-adapter/src/endpoints/sudo.rs
  packages/abstract-adapter/src/error.rs
  packages/abstract-adapter/src/features.rs
  packages/abstract-adapter/src/handler.rs
  packages/abstract-adapter/src/lib.rs
  packages/abstract-adapter/src/schema.rs
  packages/abstract-adapter/src/state.rs
  packages/abstract-api/README.md
  packages/abstract-boot/src/account/manager.rs
  packages/abstract-boot/src/deployers.rs
  packages/abstract-boot/src/native/module_factory.rs
  packages/abstract-boot/src/native/version_control.rs
  packages/abstract-core/src/adapter.rs
  packages/abstract-core/src/error.rs
  packages/abstract-core/src/ibc_host.rs
  packages/abstract-core/src/lib.rs
  packages/abstract-core/src/objects/module_reference.rs
  packages/abstract-core/src/objects/module_version.rs
  packages/abstract-ibc-host/src/endpoints/query.rs
  packages/abstract-ibc-host/src/lib.rs
  packages/abstract-sdk/Cargo.toml
  packages/abstract-sdk/README.md
  packages/abstract-sdk/src/apis.rs
  packages/abstract-sdk/src/apis/adapter.rs
  packages/abstract-sdk/src/base/endpoints.rs
  packages/abstract-sdk/src/base/features/abstract_name_service.rs
  packages/abstract-sdk/src/base/mod.rs
  packages/abstract-sdk/src/lib.rs
  packages/abstract-sdk/src/mock_module.rs
  publish/publish.sh
  scripts/src/bin/full_deploy.rs
  scripts/src/bin/remove_version.rs
Labels: native, CI, docs, sdk, boot, account, adapter_base

#325 Use Namespace type in ModuleInfo
  contracts/native/ibc-client/src/ibc.rs
  contracts/native/version-control/src/commands.rs
  contracts/native/version-control/src/contract.rs
  contracts/native/version-control/src/error.rs
  contracts/native/version-control/src/queries.rs
  packages/abstract-adapter/src/endpoints/execute.rs
  packages/abstract-core/src/native/ibc_client.rs
  packages/abstract-core/src/objects/module.rs
  packages/abstract-core/src/objects/namespace.rs
  packages/abstract-sdk/src/apis/verify.rs
  scripts/src/bin/fix_names.rs
  scripts/src/bin/fix_versions.rs
  scripts/src/bin/remove_version.rs
Labels: native, sdk, adapter_base

#324 Block claiming of abstract namespace or admin account
  contracts/account/manager/tests/common/mod.rs
  contracts/account/manager/tests/proxy.rs
  contracts/account/manager/tests/upgrades.rs
  contracts/account/proxy/src/contract.rs
  contracts/native/account-factory/src/commands.rs
  contracts/native/account-factory/src/contract.rs
  contracts/native/account-factory/tests/create_account.rs
  contracts/native/version-control/src/commands.rs
  contracts/native/version-control/src/contract.rs
  contracts/native/version-control/src/error.rs
  contracts/native/version-control/src/lib.rs
  contracts/native/version-control/src/queries.rs
  packages/abstract-boot/src/deployment.rs
  packages/abstract-core/src/core/manager.rs
  packages/abstract-core/src/core/proxy.rs
  packages/abstract-core/src/ibc_host.rs
  packages/abstract-core/src/native/account_factory.rs
  packages/abstract-core/src/native/ibc_client.rs
  packages/abstract-core/src/native/version_control.rs
  packages/abstract-core/src/objects/account_id.rs
  packages/abstract-core/src/objects/mod.rs
  packages/abstract-core/src/objects/namespace.rs
  packages/abstract-core/src/objects/paged_map.rs
  packages/abstract-sdk/src/apis/verify.rs
  packages/abstract-testing/src/abstract_mock_querier.rs
  packages/abstract-testing/src/lib.rs
Labels: native, sdk, boot, account

#327 Clickup tasks
  contracts/account/manager/tests/adapters.rs
  contracts/native/version-control/src/commands.rs
  contracts/native/version-control/src/error.rs
  packages/abstract-sdk/Cargo.toml
  packages/abstract-sdk/src/apis.rs
  packages/abstract-sdk/src/apis/distribution.rs
  packages/abstract-sdk/src/apis/grant.rs
  packages/abstract-sdk/src/lib.rs
  packages/abstract-testing/src/mock_querier.rs
Labels: native, sdk, account

#328 fixing partialeq not working anymore
  packages/abstract-adapter/src/endpoints/execute.rs
  packages/abstract-sdk/src/apis/verify.rs
Labels: sdk, adapter_base

#334 bump cw-orch
  Cargo.toml
  packages/abstract-interface/src/native/ans_host.rs
  packages/abstract-interface/src/native/version_control.rs
Labels: interface

#333 Add prelude mod to SDK
  packages/abstract-sdk/src/lib.rs
  packages/abstract-sdk/src/prelude.rs
Labels: sdk

#340 Add introduction to the Abstract SDK
  .github/labeler.yml
  contracts/account/manager/src/commands.rs
  contracts/native/account-factory/src/commands.rs
  contracts/native/ans-host/src/queries.rs
  contracts/native/ibc-client/src/commands.rs
  contracts/native/version-control/src/commands.rs
  docs/book/get_started/sdk.html
  docs/book/print.html
  docs/book/searchindex.js
  docs/book/searchindex.json
  docs/src/get_started/sdk.md
  docs/src/intro.md
  docs/src/sdk/abstract_sdk.md
  packages/abstract-adapter/src/endpoints/execute.rs
  packages/abstract-app/src/endpoints/instantiate.rs
  packages/abstract-app/src/features.rs
  packages/abstract-sdk/README.md
  packages/abstract-sdk/src/ans_resolve.rs
  packages/abstract-sdk/src/apis.rs
  packages/abstract-sdk/src/apis/accounting.rs
  packages/abstract-sdk/src/apis/adapter.rs
  packages/abstract-sdk/src/apis/app.rs
  packages/abstract-sdk/src/apis/bank.rs
  packages/abstract-sdk/src/apis/distribution.rs
  packages/abstract-sdk/src/apis/grant.rs
  packages/abstract-sdk/src/apis/ibc.rs
  packages/abstract-sdk/src/apis/modules.rs
  packages/abstract-sdk/src/apis/verify.rs
  packages/abstract-sdk/src/apis/version_registry.rs
  packages/abstract-sdk/src/base/contract_base.rs
  packages/abstract-sdk/src/base/endpoints/execute.rs
  packages/abstract-sdk/src/base/endpoints/ibc_callback.rs
  packages/abstract-sdk/src/base/endpoints/instantiate.rs
  packages/abstract-sdk/src/base/endpoints/migrate.rs
  packages/abstract-sdk/src/base/endpoints/query.rs
  packages/abstract-sdk/src/base/endpoints/receive.rs
  packages/abstract-sdk/src/base/endpoints/reply.rs
  packages/abstract-sdk/src/base/endpoints/sudo.rs
  packages/abstract-sdk/src/base/features/abstract_name_service.rs
  packages/abstract-sdk/src/base/features/dependencies.rs
  packages/abstract-sdk/src/base/features/identification.rs
  packages/abstract-sdk/src/base/handler.rs
  packages/abstract-sdk/src/cw_helpers/mod.rs
  packages/abstract-sdk/src/error.rs
  packages/abstract-sdk/src/feature_objects.rs
  packages/abstract-sdk/src/lib.rs
  packages/abstract-sdk/src/mock_module.rs
  packages/abstract-sdk/src/prelude.rs
Labels: documentation, native, CI, sdk, app_base, account, adapter_base

#341 Allow exporting abstract metadata in the package
  .gitattributes
  .gitignore
  Cargo.toml
  artifacts/abstract_account_factory.wasm
  artifacts/abstract_ans_host.wasm
  artifacts/abstract_ibc_client.wasm
  artifacts/abstract_ibc_host.wasm
  artifacts/abstract_manager.wasm
  artifacts/abstract_module_factory.wasm
  artifacts/abstract_proxy.wasm
  artifacts/abstract_version_control.wasm
  artifacts/checksums.txt
  artifacts/checksums_intermediate.txt
  artifacts/token.wasm
  contracts/account/manager/tests/adapters.rs
  contracts/account/manager/tests/apps.rs
  contracts/account/manager/tests/common/mock_modules.rs
  contracts/account/manager/tests/proxy.rs
  contracts/account/manager/tests/upgrades.rs
  contracts/native/account-factory/tests/create_account.rs
  contracts/native/module-factory/tests/direct_calls.rs
  contracts/native/version-control/tests/direct_calls.rs
  packages/abstract-adapter/src/lib.rs
  packages/abstract-app/src/lib.rs
  packages/abstract-interface/Cargo.toml
  packages/abstract-interface/artifacts
  packages/abstract-interface/build.rs
  packages/abstract-interface/daemon_state.json
  packages/abstract-interface/src/account/manager.rs
  packages/abstract-interface/src/account/proxy.rs
  packages/abstract-interface/src/deployers.rs
  packages/abstract-interface/src/deployment.rs
  packages/abstract-interface/src/ibc_hosts/osmosis_host.rs
  packages/abstract-interface/src/idea_token.rs
  packages/abstract-interface/src/lib.rs
  packages/abstract-interface/src/native/account_factory.rs
  packages/abstract-interface/src/native/ans_host.rs
  packages/abstract-interface/src/native/ibc_client.rs
  packages/abstract-interface/src/native/module_factory.rs
  packages/abstract-interface/src/native/version_control.rs
  packages/abstract-interface/tests/daemon.rs
  packages/abstract-sdk/src/apis/execution.rs
  packages/abstract-sdk/src/mock_module.rs
  scripts/daemon_state.json
Labels: native, sdk, app_base, account, adapter_base, interface

#344 Enable Stargate feature on Proxy
  contracts/account/proxy/Cargo.toml
Labels: account

#342 Getting started docs
  docs/src/get_started/index.md
  docs/src/get_started/installation.md
  docs/src/get_started/module_development.md
Labels: documentation

#343 Add `AnsEntryConvertor`
  packages/abstract-core/src/native/ans_host.rs
  packages/abstract-core/src/objects/ans_host.rs
  packages/abstract-core/src/objects/entry/ans_entry_convertor.rs
  packages/abstract-core/src/objects/entry/asset_entry.rs
  packages/abstract-core/src/objects/entry/channel_entry.rs
  packages/abstract-core/src/objects/entry/contract_entry.rs
  packages/abstract-core/src/objects/entry/dex_asset_pairing.rs
  packages/abstract-core/src/objects/entry/lp_token.rs
  packages/abstract-core/src/objects/entry/mod.rs
  packages/abstract-core/src/objects/mod.rs
  packages/abstract-core/src/objects/price_source.rs
  packages/abstract-sdk/src/ans_resolve.rs
Labels: sdk

#349 Remove `abstract token` and unused `testing` dir.
  .github/codecov.yml
  Cargo.toml
  contracts/testing/Cargo.toml
  contracts/testing/src/lib.rs
  contracts/testing/src/tests/README.md
  contracts/testing/src/tests/common/mod.rs
  contracts/testing/src/tests/manager.rs
  contracts/testing/src/tests/mod.rs
  contracts/testing/src/tests/module_factory.rs
  contracts/testing/src/tests/subscription.rs
  contracts/testing/src/tests/testing_infrastructure/account_actions.rs
  contracts/testing/src/tests/testing_infrastructure/account_creation.rs
  contracts/testing/src/tests/testing_infrastructure/common_integration.rs
  contracts/testing/src/tests/testing_infrastructure/instantiate.rs
  contracts/testing/src/tests/testing_infrastructure/mod.rs
  contracts/testing/src/tests/testing_infrastructure/module_uploader.rs
  contracts/testing/src/tests/testing_infrastructure/upload.rs
  contracts/testing/src/tests/testing_infrastructure/verify.rs
  contracts/token/.cargo/config
  contracts/token/Cargo.toml
  contracts/token/README.md
  contracts/token/examples/schema.rs
  contracts/token/src/contract.rs
  contracts/token/src/lib.rs
  contracts/token/src/state.rs
  packages/abstract-core/src/abstract_token.rs
  packages/abstract-core/src/lib.rs
  packages/abstract-interface/src/idea_token.rs
  packages/abstract-interface/src/lib.rs
Labels: documentation, CI, interface

#348 Remove `deposit_coins` function from Bank API
  packages/abstract-sdk/src/apis/bank.rs
Labels: sdk

#350 Add module data check
  contracts/account/manager/tests/adapters.rs
  contracts/native/account-factory/src/commands.rs
  contracts/native/account-factory/tests/common/mod.rs
  contracts/native/module-factory/src/commands.rs
  contracts/native/version-control/src/commands.rs
  packages/abstract-core/src/error.rs
  packages/abstract-core/src/native/account_factory.rs
  packages/abstract-core/src/objects/module.rs
  packages/abstract-core/src/objects/module_version.rs
  packages/abstract-ibc-host/src/endpoints/migrate.rs
  packages/abstract-sdk/src/lib.rs
  packages/abstract-testing/src/lib.rs
Labels: native, sdk, account

#347 Modularity and module types documentation
  .github/workflows/gh-pages.yml
  docs/book.toml
  docs/src/SUMMARY.md
  docs/src/flows/account/create_account.md
  docs/src/flows/manager/exec_on_module.md
  docs/src/flows/manager/install_module.md
  docs/src/flows/manager/uninstall_module.md
  docs/src/flows/manager/update_settings.md
  docs/src/flows/manager/upgrade_modules.md
  docs/src/get_started/index.md
  docs/src/get_started/installation.md
  docs/src/ibc/overview.md
  docs/src/module_types.md
  docs/src/modules/app_module.md
  docs/src/platform/account_factory.md
  docs/src/platform/ans.md
  docs/src/platform/index.md
  docs/src/platform/version_control.md
  docs/src/sdk/architecture.md
  docs/src/sdk/modularity.md
  docs/src/sdk/module_types.md
  docs/src/sdk/ownership.md
  docs/src/upgrade_modules.md
  docs/src/use_cases/equilibrium.md
  docs/src/video_and_content/faq.md
  docs/src/video_and_content/index.md
  docs/src/video_and_content/interviews.md
  docs/src/video_and_content/tutorials.md
  justfile
Labels: documentation, CI
