Repository AbstractSDK/contracts, pull requests merged in 2023-07, with the labels that each got.

#387 Fix proxy and manager verification sequence
  packages/abstract-adapter/src/endpoints/execute.rs
Labels: adapter_base

#384 Add ability to update module code-id in testing setting.
  contracts/native/version-control/src/commands.rs
  contracts/native/version-control/src/contract.rs
  contracts/native/version-control/src/lib.rs
  contracts/native/version-control/src/queries.rs
  packages/abstract-core/src/native/version_control.rs
  packages/abstract-interface/src/deployment.rs
Labels: native, interface

#379 Add Abstract migration script
  Cargo.toml
  build_release.sh
  justfile
  packages/abstract-interface/src/account/mod.rs
  packages/abstract-interface/src/lib.rs
  packages/abstract-interface/src/migrate.rs
  publish/wasms.sh
  scripts/src/bin/migrate.rs
Labels: build, interface

#385 Restrict number of namespaces to one
  contracts/account/manager/tests/adapters.rs
  contracts/account/manager/tests/common/mod.rs
  contracts/account/manager/tests/upgrades.rs
  contracts/native/version-control/src/commands.rs
  contracts/native/version-control/src/contract.rs
  contracts/native/version-control/src/lib.rs
  contracts/native/version-control/src/queries.rs
  docs/src/1_intro.md
  packages/abstract-core/src/native/version_control.rs
  packages/abstract-interface/src/deployment.rs
Labels: documentation, native, account, interface

#380 Feature/add module metadata
  contracts/account/manager/src/commands.rs
  contracts/account/manager/src/contract.rs
  contracts/account/manager/src/error.rs
  contracts/account/manager/src/validation.rs
  contracts/native/module-factory/src/commands.rs
  contracts/native/version-control/src/commands.rs
  contracts/native/version-control/src/contract.rs
  contracts/native/version-control/src/error.rs
  contracts/native/version-control/src/queries.rs
  packages/abstract-core/src/native/version_control.rs
  packages/abstract-core/src/objects/mod.rs
  packages/abstract-core/src/objects/module.rs
  packages/abstract-core/src/objects/validation/error.rs
  packages/abstract-core/src/objects/validation/mod.rs
  packages/abstract-core/src/objects/validation/verifiers.rs
  packages/abstract-sdk/src/apis/version_registry.rs
Labels: native, sdk, account

#389 Add docs on module testing
  docs/src/4_get_started/6_module_testing.md
  docs/src/4_get_started/7_module_deployment.md
  docs/src/SUMMARY.md
  packages/abstract-sdk/src/mock_module.rs
  packages/abstract-testing/src/abstract_mock_querier.rs
  packages/abstract-testing/src/mock_querier.rs
Labels: documentation, sdk
