Repository AbstractSDK/contracts, pull requests merged in 2023-04, with the labels that each got.

#272 Additional os to account refactoring
  contracts/account/manager/src/commands.rs
  contracts/account/manager/src/contract.rs
  contracts/account/manager/src/queries.rs
  contracts/account/manager/src/versioning.rs
  contracts/account/proxy/src/commands.rs
  contracts/native/account-factory/src/commands.rs
  contracts/native/account-factory/src/contract.rs
  contracts/native/account-factory/tests/create_account.rs
  contracts/native/ibc-client/src/commands.rs
  contracts/native/module-factory/src/commands.rs
  contracts/native/version-control/src/contract.rs
  contracts/native/version-control/src/queries.rs
  contracts/testing/src/tests/common/mod.rs
  contracts/testing/src/tests/manager.rs
  contracts/testing/src/tests/module_factory.rs
  contracts/testing/src/tests/subscription.rs
  contracts/testing/src/tests/testing_infrastructure/account_creation.rs
  contracts/testing/src/tests/testing_infrastructure/instantiate.rs
  contracts/testing/src/tests/testing_infrastructure/mod.rs
  contracts/testing/src/tests/testing_infrastructure/upload.rs
  contracts/testing/src/tests/testing_infrastructure/verify.rs
  contracts/token/src/contract.rs
  packages/abstract-api/src/endpoints/execute.rs
  packages/abstract-api/src/features.rs
  packages/abstract-boot/src/native/account_factory.rs
  packages/abstract-core/src/core/manager.rs
  packages/abstract-core/src/ibc_host.rs
  packages/abstract-core/src/native/account_factory.rs
  packages/abstract-core/src/native/ibc_client.rs
  packages/abstract-ibc-host/src/endpoints/execute.rs
  packages/abstract-ibc-host/src/host_commands.rs
  packages/abstract-ica/src/callback.rs
  packages/abstract-sdk/src/apis/modules.rs
  packages/abstract-sdk/src/apis/verify.rs
  packages/abstract-testing/src/abstract_mock_querier.rs
  packages/abstract-testing/src/lib.rs
  packages/abstract-testing/src/mock_querier.rs
  scripts/src/bin/update_core_modules.rs
Labels: native, sdk, api_base, boot, account

#278 Underscore actions in Responses
  contracts/native/ibc-client/src/ibc.rs
  contracts/native/version-control/src/contract.rs
  contracts/token/src/contract.rs
  packages/abstract-api/src/endpoints/execute.rs
Labels: native, api_base

#276 Add reply handler to API endpoint
  packages/abstract-api/src/endpoints.rs
  packages/abstract-api/src/endpoints/reply.rs
Labels: api_base

#282 Update ci docs
  .github/workflows/contracts.yml
  CI.md
  README.md
Labels: CI, docs

#274 Add release profiles to contracts
  Cargo.toml
  contracts/account/manager/Cargo.toml
  contracts/account/proxy/Cargo.toml
  contracts/ibc-hosts/osmosis/Cargo.toml
  contracts/native/account-factory/Cargo.toml
  contracts/native/ans-host/Cargo.toml
  contracts/native/ibc-client/Cargo.toml
  contracts/native/module-factory/Cargo.toml
  contracts/native/version-control/Cargo.toml
  contracts/token/Cargo.toml
Labels: native, account

#281 Use cw-ownable in the ANS Host
  Cargo.toml
  contracts/native/ans-host/Cargo.toml
  contracts/native/ans-host/src/commands.rs
  contracts/native/ans-host/src/contract.rs
  contracts/native/ans-host/src/error.rs
  contracts/native/ans-host/src/queries.rs
  contracts/native/ans-host/src/tests/common.rs
  contracts/native/ans-host/src/tests/instantiate.rs
  contracts/native/ans-host/src/tests/interact.rs
  packages/abstract-core/Cargo.toml
  packages/abstract-core/src/native/ans_host.rs
  packages/abstract-sdk/Cargo.toml
  packages/abstract-sdk/src/cw_helpers/cw_ownable.rs
  packages/abstract-sdk/src/cw_helpers/mod.rs
Labels: native, sdk

#280 Rename remove to uninstall module
  contracts/account/manager/src/commands.rs
  contracts/account/manager/src/contract.rs
  contracts/account/manager/tests/apis.rs
  contracts/account/manager/tests/upgrades.rs
  packages/abstract-boot/src/account/manager.rs
  packages/abstract-core/src/core/manager.rs
Labels: boot, account

#279 Audit Issue 15: Update incorrect comments
  contracts/account/manager/Cargo.toml
  contracts/account/manager/src/commands.rs
  contracts/account/manager/src/contract.rs
  justfile
Labels: account

#273 Update manager suspend and settings exec endpoints
  contracts/account/manager/src/commands.rs
  contracts/account/manager/src/contract.rs
  contracts/account/manager/src/error.rs
  contracts/account/manager/src/queries.rs
  contracts/account/manager/tests/proxy.rs
  contracts/native/account-factory/src/commands.rs
  contracts/native/account-factory/src/contract.rs
  contracts/native/account-factory/src/error.rs
  contracts/native/account-factory/tests/create_account.rs
  contracts/testing/src/tests/testing_infrastructure/account_creation.rs
  packages/abstract-boot/src/native/account_factory.rs
  packages/abstract-core/src/core/manager.rs
  packages/abstract-core/src/native/account_factory.rs
  packages/abstract-core/src/registry.rs
  packages/abstract-macros/src/lib.rs
  packages/abstract-sdk/src/cw_helpers/cosmwasm_std/abstract_attributes.rs
  packages/abstract-sdk/src/cw_helpers/cosmwasm_std/mod.rs
  packages/abstract-sdk/src/cw_helpers/cosmwasm_std/wasm_smart_query.rs
Labels: native, sdk, boot, account

#283 Update boot-core to v0.10
  Cargo.toml
  contracts/account/manager/tests/apis.rs
  contracts/account/manager/tests/apps.rs
  contracts/account/manager/tests/common/mod.rs
  contracts/account/manager/tests/proxy.rs
  contracts/native/account-factory/tests/common/mod.rs
  contracts/native/account-factory/tests/create_account.rs
  contracts/native/module-factory/tests/common/mod.rs
  contracts/native/module-factory/tests/direct_calls.rs
  contracts/native/version-control/tests/common/mod.rs
  contracts/native/version-control/tests/direct_calls.rs
  packages/abstract-api/src/lib.rs
  packages/abstract-app/src/lib.rs
  packages/abstract-boot/src/account/manager.rs
  packages/abstract-boot/src/account/mod.rs
  packages/abstract-boot/src/account/proxy.rs
  packages/abstract-boot/src/deployers.rs
  packages/abstract-boot/src/deployment.rs
  packages/abstract-boot/src/ibc_hosts/osmosis_host.rs
  packages/abstract-boot/src/idea_token.rs
  packages/abstract-boot/src/interfaces.rs
  packages/abstract-boot/src/native/account_factory.rs
  packages/abstract-boot/src/native/ans_host.rs
  packages/abstract-boot/src/native/ibc_client.rs
  packages/abstract-boot/src/native/module_factory.rs
  packages/abstract-boot/src/native/version_control.rs
  scripts/src/bin/first_os.rs
  scripts/src/bin/fix_names.rs
  scripts/src/bin/fix_versions.rs
  scripts/src/bin/full_deploy.rs
Labels: native, api_base, app_base, boot, account

#284 Audit #10: Limit the number of authorized addresses
  contracts/account/manager/src/commands.rs
  contracts/account/manager/tests/apis.rs
  contracts/account/manager/tests/upgrades.rs
  contracts/ibc-hosts/osmosis/examples/schema.rs
  contracts/native/account-factory/tests/create_account.rs
  packages/abstract-api/src/endpoints/execute.rs
  packages/abstract-api/src/endpoints/instantiate.rs
  packages/abstract-api/src/endpoints/query.rs
  packages/abstract-api/src/error.rs
  packages/abstract-api/src/lib.rs
  packages/abstract-api/src/schema.rs
  packages/abstract-api/src/state.rs
  packages/abstract-boot/src/account/manager.rs
  packages/abstract-boot/src/native/account_factory.rs
  packages/abstract-core/src/api.rs
  packages/abstract-ibc-host/src/state.rs
  packages/abstract-sdk/src/apis/bank.rs
Labels: native, sdk, api_base, boot, account

#275 Fix manager governance instantiation/updates
  Cargo.toml
  contracts/account/manager/src/commands.rs
  contracts/account/manager/src/contract.rs
  contracts/account/manager/src/queries.rs
  contracts/account/manager/src/validation.rs
  contracts/native/account-factory/src/commands.rs
  contracts/native/account-factory/src/contract.rs
  contracts/native/account-factory/tests/create_account.rs
  packages/abstract-boot/src/native/account_factory.rs
  packages/abstract-core/Cargo.toml
  packages/abstract-core/src/core/manager.rs
  packages/abstract-core/src/native/account_factory.rs
  packages/abstract-core/src/objects/gov_type.rs
Labels: native, boot, account

#268 Account namespaces
  contracts/account/manager/tests/common/mod.rs
  contracts/account/manager/tests/upgrades.rs
  contracts/native/version-control/src/commands.rs
  contracts/native/version-control/src/contract.rs
  contracts/native/version-control/src/error.rs
  contracts/native/version-control/src/queries.rs
  packages/abstract-core/src/native/version_control.rs
  packages/abstract-core/src/objects/mod.rs
  packages/abstract-core/src/objects/module.rs
  packages/abstract-core/src/objects/namespace.rs
  scripts/src/bin/fix_names.rs
  scripts/src/bin/fix_versions.rs
Labels: native, account

#292 Flip sudo and receive entry points
  contracts/account/manager/src/commands.rs
  packages/abstract-api/src/endpoints/execute.rs
  packages/abstract-api/src/endpoints/ibc_callback.rs
  packages/abstract-api/src/endpoints/instantiate.rs
  packages/abstract-api/src/endpoints/query.rs
  packages/abstract-api/src/endpoints/receive.rs
  packages/abstract-api/src/endpoints/reply.rs
  packages/abstract-api/src/endpoints/sudo.rs
  packages/abstract-api/src/features.rs
  packages/abstract-api/src/handler.rs
  packages/abstract-api/src/lib.rs
  packages/abstract-api/src/schema.rs
  packages/abstract-api/src/state.rs
  packages/abstract-app/src/endpoints/execute.rs
  packages/abstract-app/src/endpoints/ibc_callback.rs
  packages/abstract-app/src/endpoints/instantiate.rs
  packages/abstract-app/src/endpoints/migrate.rs
  packages/abstract-app/src/endpoints/query.rs
  packages/abstract-app/src/endpoints/receive.rs
  packages/abstract-app/src/endpoints/reply.rs
  packages/abstract-app/src/endpoints/sudo.rs
  packages/abstract-app/src/features.rs
  packages/abstract-app/src/handler.rs
  packages/abstract-app/src/lib.rs
  packages/abstract-app/src/schema.rs
  packages/abstract-app/src/state.rs
  packages/abstract-ibc-host/src/account_commands.rs
  packages/abstract-ibc-host/src/endpoints/execute.rs
  packages/abstract-ibc-host/src/endpoints/instantiate.rs
  packages/abstract-ibc-host/src/endpoints/migrate.rs
  packages/abstract-ibc-host/src/endpoints/query.rs
  packages/abstract-ibc-host/src/endpoints/receive.rs
  packages/abstract-ibc-host/src/endpoints/reply.rs
  packages/abstract-ibc-host/src/endpoints/sudo.rs
  packages/abstract-ibc-host/src/features.rs
  packages/abstract-ibc-host/src/handler.rs
  packages/abstract-ibc-host/src/host_commands.rs
  packages/abstract-ibc-host/src/schema.rs
  packages/abstract-ibc-host/src/state.rs
  packages/abstract-sdk/src/base/contract_base.rs
  packages/abstract-sdk/src/base/endpoints.rs
  packages/abstract-sdk/src/base/handler.rs
Labels: sdk, api_base, app_base, account

#294 Use cw-ownable in the version-control
  contracts/native/account-factory/tests/create_account.rs
  contracts/native/ans-host/src/contract.rs
  contracts/native/ans-host/src/queries.rs
  contracts/native/version-control/Cargo.toml
  contracts/native/version-control/src/commands.rs
  contracts/native/version-control/src/contract.rs
  contracts/native/version-control/src/error.rs
  packages/abstract-core/src/native/version_control.rs
Labels: native

#287 pending approval
  contracts/native/version-control/src/commands.rs
  contracts/native/version-control/src/contract.rs
  contracts/native/version-control/src/error.rs
  contracts/native/version-control/src/queries.rs
  packages/abstract-boot/src/deployment.rs
  packages/abstract-core/src/native/version_control.rs
  packages/abstract-core/src/objects/module.rs
Labels: native, boot

#300 Prefix cw-ownable calls with the crate
  contracts/native/account-factory/src/commands.rs
  contracts/native/account-factory/src/contract.rs
  contracts/native/account-factory/src/error.rs
  contracts/native/ans-host/src/commands.rs
  contracts/native/ans-host/src/contract.rs
  contracts/native/ans-host/src/error.rs
  contracts/native/ans-host/src/queries.rs
  contracts/native/ans-host/src/tests/instantiate.rs
  contracts/native/version-control/src/commands.rs
  contracts/native/version-control/src/contract.rs
  contracts/native/version-control/src/error.rs
  packages/abstract-sdk/src/cw_helpers/cw_ownable.rs
Labels: native, sdk

#302 Update Abstract to 0.14.0
  Cargo.toml
  justfile
  packages/abstract-api/Cargo.toml
  packages/abstract-app/Cargo.toml
  packages/abstract-boot/Cargo.toml
  packages/abstract-core/Cargo.toml
  packages/abstract-ica/Cargo.toml
  packages/abstract-macros/Cargo.toml
  packages/abstract-sdk/Cargo.toml
  packages/abstract-testing/Cargo.toml
  publish/publish-2.sh
  publish/publish.sh
Labels: sdk, api_base, app_base, boot

#289 Audit 12: Improve module upgrade flow
  contracts/account/manager/src/commands.rs
  contracts/account/manager/src/error.rs
  contracts/account/manager/tests/upgrades.rs
  packages/abstract-core/src/core/manager.rs
Labels: account

#304 Feature flag schema feature in api and app
  packages/abstract-api/Cargo.toml
  packages/abstract-api/src/lib.rs
  packages/abstract-api/src/schema.rs
  packages/abstract-app/Cargo.toml
  packages/abstract-app/src/lib.rs
  packages/abstract-app/src/schema.rs
  packages/abstract-ibc-host/Cargo.toml
  packages/abstract-ibc-host/src/lib.rs
Labels: api_base, app_base

#305 Use cw-ownable in the module-factory
  contracts/native/module-factory/Cargo.toml
  contracts/native/module-factory/src/commands.rs
  contracts/native/module-factory/src/contract.rs
  contracts/native/module-factory/src/error.rs
  contracts/native/module-factory/tests/direct_calls.rs
  contracts/native/version-control/tests/direct_calls.rs
  packages/abstract-boot/src/native/module_factory.rs
  packages/abstract-core/src/native/module_factory.rs
Labels: native, boot

#307 Refactor address responses to Addrs instead of Strings
  contracts/account/manager/src/queries.rs
  contracts/account/manager/tests/apis.rs
  contracts/account/manager/tests/proxy.rs
  contracts/account/manager/tests/upgrades.rs
  contracts/native/account-factory/src/contract.rs
  contracts/native/account-factory/tests/create_account.rs
  contracts/native/ans-host/src/queries.rs
  contracts/native/module-factory/src/contract.rs
  contracts/native/module-factory/tests/direct_calls.rs
  contracts/native/version-control/src/commands.rs
  contracts/native/version-control/src/queries.rs
  contracts/native/version-control/tests/direct_calls.rs
  packages/abstract-boot/src/account/mod.rs
  packages/abstract-core/src/core/manager.rs
  packages/abstract-core/src/native/account_factory.rs
  packages/abstract-core/src/native/ans_host.rs
  packages/abstract-core/src/native/module_factory.rs
Labels: native, boot, account

#285 Audit 6: Disallow migration downgrades
  contracts/account/manager/src/commands.rs
  contracts/account/manager/src/contract.rs
  contracts/account/manager/src/lib.rs
  contracts/account/manager/tests/common/mock_modules.rs
  contracts/account/manager/tests/proxy.rs
  contracts/account/manager/tests/upgrades.rs
  contracts/account/proxy/src/commands.rs
  contracts/account/proxy/src/contract.rs
  contracts/account/proxy/src/lib.rs
  contracts/native/account-factory/src/commands.rs
  contracts/native/account-factory/src/contract.rs
  contracts/native/account-factory/src/lib.rs
  contracts/native/ans-host/src/commands.rs
  contracts/native/ans-host/src/contract.rs
  contracts/native/ans-host/src/lib.rs
  contracts/native/ibc-client/src/commands.rs
  contracts/native/ibc-client/src/contract.rs
  contracts/native/ibc-client/src/lib.rs
  contracts/native/module-factory/src/commands.rs
  contracts/native/module-factory/src/contract.rs
  contracts/native/module-factory/src/lib.rs
  contracts/native/version-control/src/commands.rs
  contracts/native/version-control/src/contract.rs
  contracts/native/version-control/src/lib.rs
  packages/abstract-app/src/endpoints/execute.rs
  packages/abstract-app/src/endpoints/migrate.rs
  packages/abstract-app/src/schema.rs
  packages/abstract-app/src/state.rs
  packages/abstract-boot/src/deployers.rs
  packages/abstract-core/src/error.rs
  packages/abstract-core/src/objects/module_version.rs
  packages/abstract-testing/Cargo.toml
  packages/abstract-testing/src/lib.rs
Labels: native, app_base, boot, account

#314 Audit 16: Check for invalid chars in string fields
  contracts/account/manager/src/contract.rs
  contracts/account/manager/src/error.rs
  contracts/account/manager/src/validation.rs
  contracts/native/account-factory/tests/create_account.rs
Labels: native, account

#316 Remove owner from ConfigResponses
  contracts/native/account-factory/src/contract.rs
  contracts/native/account-factory/tests/create_account.rs
  contracts/native/ans-host/src/queries.rs
  contracts/native/module-factory/src/contract.rs
  contracts/native/module-factory/tests/direct_calls.rs
  contracts/native/version-control/src/contract.rs
  contracts/native/version-control/tests/direct_calls.rs
  packages/abstract-core/src/native/account_factory.rs
  packages/abstract-core/src/native/ans_host.rs
  packages/abstract-core/src/native/module_factory.rs
  packages/abstract-core/src/native/version_control.rs
Labels: native

#311 Add App test builder
  packages/abstract-app/src/endpoints/query.rs
  packages/abstract-app/src/lib.rs
  packages/abstract-app/src/state.rs
Labels: app_base

#318 Rename gh to AbstractSDK
  CI.md
  Cargo.toml
  README.md
  contracts/account/manager/Cargo.toml
  contracts/account/proxy/Cargo.toml
  contracts/native/account-factory/Cargo.toml
  contracts/native/ans-host/Cargo.toml
  contracts/native/ibc-client/Cargo.toml
  contracts/native/module-factory/Cargo.toml
  contracts/native/version-control/Cargo.toml
  development/VERSIONING.md
  packages/abstract-core/Cargo.toml
  packages/abstract-core/src/lib.rs
  packages/abstract-macros/Cargo.toml
  packages/abstract-macros/README.md
  packages/abstract-sdk/Cargo.toml
  packages/abstract-sdk/README.md
  packages/abstract-sdk/src/lib.rs
  packages/abstract-testing/Cargo.toml
Labels: native, docs, sdk, account

#313 Add scripts to fix assets, contracts, and dexes incorrectly uploaded to ans
  .gitattributes
  contracts/account/manager/tests/apis.rs
  daemon_state-0.14.json
  packages/abstract-boot/src/native/ans_host.rs
  scripts/resources/ans/assets.json
  scripts/resources/ans/contracts.json
  scripts/resources/ans/pools.json
  scripts/src/bin/fix_assets.rs
  scripts/src/bin/fix_contracts.rs
  scripts/src/bin/fix_pools.rs
  scripts/src/bin/full_deploy.rs
Labels: boot, account
