Repository AbstractSDK/contracts, pull requests merged in 2023-03, with the labels that each got.

#260 Clean up CI
  .cargo/config.toml
  .github/codecov.yml
  .github/dependabot.yml
  .github/workflows/check.yml
  .github/workflows/contracts.yml
  .github/workflows/coverage.yml
  .github/workflows/labler.yml
  .github/workflows/release-artifacts.yml
  .github/workflows/scheduled.yml
  .github/workflows/test.yml
  Cargo.toml
  build_release.sh
  codecov.yml
  packages/abstract-os/src/app.rs
  packages/abstract-os/src/core/proxy.rs
  scripts/Cargo.toml
  scripts/src/lib.rs
Labels: CI, breaking?, build

#264 ETF patches
  .github/pull_request_template.md
  packages/abstract-os/src/objects/oracle.rs
  packages/abstract-sdk/src/apis/bank.rs
  packages/abstract-sdk/src/apis/vault.rs
Labels: breaking?, sdk

#267 Final Refactoring Changes
  .github/labeler.yml
  Cargo.toml
  contracts/native/account-factory/src/commands.rs
  contracts/native/account-factory/src/contract.rs
  contracts/native/account-factory/tests/create_account.rs
  contracts/native/ibc-client/src/commands.rs
  contracts/native/module-factory/src/commands.rs
  contracts/native/module-factory/src/contract.rs
  contracts/native/version-control/src/commands.rs
  contracts/native/version-control/src/contract.rs
  contracts/native/version-control/src/queries.rs
  contracts/testing/src/tests/manager.rs
  contracts/testing/src/tests/subscription.rs
  contracts/testing/src/tests/testing_infrastructure/account_creation.rs
  contracts/testing/src/tests/testing_infrastructure/mod.rs
  contracts/testing/src/tests/testing_infrastructure/verify.rs
  daemon_state-0.13.0.json
  justfile
  packages/abstract-api/src/endpoints/execute.rs
  packages/abstract-app/src/endpoints/instantiate.rs
  packages/abstract-app/src/lib.rs
  packages/abstract-boot/src/interfaces.rs
  packages/abstract-boot/src/native/version_control.rs
  packages/abstract-core/src/native/account_factory.rs
  packages/abstract-core/src/native/module_factory.rs
  packages/abstract-core/src/native/version_control.rs
  packages/abstract-core/src/objects/module_reference.rs
  packages/abstract-ibc-host/src/features.rs
  packages/abstract-ica/Cargo.toml
  packages/abstract-macros/Cargo.toml
  packages/abstract-sdk/src/apis/bank.rs
  packages/abstract-sdk/src/apis/verify.rs
  packages/abstract-sdk/src/base/features/identification.rs
  packages/abstract-sdk/src/feature_objects.rs
  publish/publish.sh
  scripts/src/bin/update_core_modules.rs
Labels: native, CI, sdk, api_base, app_base, boot

#270 Don't expose abstract macros in the sdk
  packages/abstract-sdk/src/lib.rs
Labels: sdk

#271 bump optimizer
  .github/workflows/release-artifacts.yml
  build_release.sh
Labels: CI, build
